{% extends 'base.html' %}

{% block body %}
    <h2>Coffee Shop Items</h2>

    <div id="melon-list" class="row">
      {% for item in item_list %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 melon-summary">

              <div class="well">
                  <h3>{{ item.item_name }}</h3>
                  <div class="price">{{ melon.price_str() }}</div>
                  <a class="btn btn-primary" href="/add_to_cart/{{ display_melon.id }}">
                    Add to Cart
                  </a>
              </div>

          </div>
      {% endfor %}
    </div>

{% endblock %}
