<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>CoffeeShop</title>
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <h1>CoffeeShop.</h1>

        <p class="lead">Takes care of business while you take care of your customers.</p>

        <a href="/items" class="btn btn-lg btn-primary">Come on in!</a>

    </div>
</div>


</body>
</html>
